.footerText{
    background-color: red;
    height: 40px;
    color: white;
    padding-top: 7px;
}

footer{
    width: 100%;
    padding: 0;
}

img{
    margin-left: 215px;
}

.socialMedia{
    margin-right: 200px;
}