body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 1rem;
}

#navbarSupportedContent{
  justify-content: end;
}

.container-fluid{
  padding-left: 250px;
  padding-right: 250px;
}

.btnMoon{
  background-color:#95A5A6;
  border-radius: 20%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}

.btnMoon:hover{
  background-color: #BDC3C7;
}

.nav-link{
  cursor: pointer;
}

.nav-link:hover{
  font-weight: bold;
}

.me-4 text-reset{
  cursor: pointer;
}

.textRed{
  color: red;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}


table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}

.imageFooter{
  margin-left: 215px;
}

.socialMedia{
  margin-right: 200px;
}

footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.footerText{
  background-color: red;
  height: 40px;
  color: white;
  padding-top: 7px;
}